<!doctype html>

<html lang="en">

<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta charset="utf-8">

    <title>10 Soldiers</title>
    <meta name="description" content="10 Soldier game">
    <meta name="author" content="robinmollah">
    <script>
        const DEBUG = "<%= debug %>";
    </script>
</head>

<body>
Please provide room name.
</body>

</html>
