body {
    background-color: #4f4f4f;
    text-align: center;
}

input, button {
    padding: 0.8em;
    font-size: 1.1em;
    border: 2px solid black;
}

input:hover, button:hover {
    border: 2px solid #3fa364;
}

#prompt-1 {
    margin-bottom: 1em;
}

#waiting, #game_play {
    display: none;
}

.warning-invalid-screen {
    color: red;
    font-weight: bold;
    font-size: 1.5em;
    animation: color_change 1s infinite;
}

@keyframes color_change {
    0% {color: red;}
    50% {color: white;}
    100% {color: red;}
}

h2, h3 {
    color: white;
}

#turn_indicator, .turn_indicator_bg {
    font-family: "Roboto Light", monospace;
    background-color: #1f2f8673;
    /*color: #f73378;*/
    color: white;
    padding: 12px;
    text-align: center;
    margin: auto;
    width: 30%;
}

.turn_indicator_bg {
    color: red;
    background: red;
    position: relative;
    bottom: 2.5em;
    z-index: -1;
    width: 0px;
    padding: 0px;
    display: none;
}

#turn_indicator {
    display: none;
}
