body {
    background-color: #4f4f4f;
    text-align: center;
}

input, button {
    padding: 0.8em;
    font-size: 1.1em;
    border: 2px solid black;
}

input:hover, button:hover {
    border: 2px solid #3fa364;
}

#prompt-1 {
    margin-bottom: 1em;
}

#waiting, #game_play {
    display: none;
}

h2, h3 {
    color: white;
}
